{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": false,
      "decorators": false
    },
    "target": "esnext",
    // Requires v1.2.50 or upper and requires target to be es2016 or upper.
    "keepClassNames": false,
    "baseUrl": "./" /* Specify the base directory to resolve non-relative module names. */,
    "paths": {
      "@src/*": ["src/*"]
    }
  },
  "minify": false,
  "exclude": ["\\.(test\\.ts|test\\.js)$"]
}
